$body: #696969;
$header: #4B4B4B;
$header-button-text: #ffffff;
$header-button-hover: #737373;
$header-button-active: #9B9B9B;
$game-listing: #4B4B4B;
$game-listing-hover: #737373;
$button-default: #a136ff;
$button-default-hover: #b26dff;
$button-default-border: #b72eff;
$button-default-active: #b063ff;
$button-default-border-active: #c757ff;
$button-default-shadow: rgba(151, 57, 255, 0.5);