@import "colors";

.page-container {
    display: flex;
    flex-direction: column;
    width: 60vw;

    .page-navigation {
        display: flex;
        justify-content: center;
        padding: 50px 0;

        .page-navigation-button {
            margin: 0px 20px;
            background-color: $button-default;
            border-color: $button-default-border;
            width: 100px;

            &:focus {
                box-shadow: 0 0 0 0.2rem $button-default-shadow !important;
            }

            &:active {
                background-color: $button-default-active !important;
                border-color: $button-default-border-active !important;
            }

            &:hover:not(:disabled) {
                background-color: $button-default-hover;
            }
        }
    }
}

.games-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;

    .game-listing {
        display: flex;
        flex-direction: column;
        width: 18%;
        padding: 10px;
        background-color: $game-listing;
        margin: 15px 5px;

        .game-image {
            height: 200px;
            width: 100%;
            background-size: cover;
            background-position: center;
            border-radius: 2%;
        }

        .game-listing-info {
            margin: 10px 0px;
            display: flex;
            flex-direction: column;
        }

        .game-add-button {
            margin-top: auto;
            width: 100%;
            background-color: $button-default;
            border-color: $button-default-border;

            &:focus {
                box-shadow: 0 0 0 0.2rem $button-default-shadow !important;
            }

            &:active {
                background-color: $button-default-active !important;
                border-color: $button-default-border-active !important;
            }

            &:hover:not(:disabled) {
                background-color: $button-default-hover;
            }
        }

        &:hover {
            background-color: $game-listing-hover;
        }
    }
}
