@import "colors";

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    display: inline-block;
    width: 100%;
    position: relative;
    background-color: $header;

    .inner-header {
        height: 100%;
        background-color: $header;
        position: absolute;

        .navigation-button-container {
            height: 100%;
            display: flex;

            @media only screen and (max-width: 700px) {
                display: none;
            }

            .navigation-button-link {
                padding: 10px 20px;
                color: $header-button-text;

                &:hover {
                    text-decoration: none;
                    background-color: $header-button-hover;
                }

                &:active {
                    background-color: $header-button-active;
                }
            }
        }

        .inner-header-hamburger-menu {
            color: white;

            @media only screen and (min-width: 700px) {
                display: none;
            }
        }
    }

    .right-header {
        height: 100%;
        float: right;

        .search {
            align-items: center;

            .search-form {
                padding: 0 30px;
                margin-right: 10px;
                height: 100%;
                line-height: 50px;

                .search-input {
                    color: white;

                    &:before {
                        border-bottom: 1px solid white;
                    }

                    &:before:hover {
                        border-bottom: 2px solid white;
                    }

                    &:after {
                        border-bottom: 2px solid #A136FF;
                    }
                }
            }
        }
    }

    .header-hamburger-menu {
        top: 50px;
        height: 200px;
        position: absolute;
    }
}
