.header {
    width: 100%;
    height: 50px;
    display: flex;
    position: relative;
    background-color: lightcyan;
    justify-content: center;
}

.innerHeader {
    width: 60vw;
    height: 100%;
    background-color: lightcyan;
    position: absolute;
}

.rightHeader {
    margin-left: auto;
    display: flex;
    justify-content: center;
}

.innerHeader .navigationButtonContainer {
    height: 100%;
    display: flex;
}

.innerHeader .navigationButtonContainer .navigationButtonLink:hover {
    text-decoration: none;
    background-color: cyan;
}

.innerHeader .navigationButtonContainer .navigationButtonLink {
    padding: 10px 20px;
}

.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.searchForm {
    padding: 0 30px;
    margin-right: 10px;
}
