.header {
    width: 100%;
    height: 50px;
    display: flex;
    position: relative;
    background-color: lightcyan;
    justify-content: center;
}

.inner-header {
    width: 60vw;
    height: 100%;
    background-color: lightcyan;
    position: absolute;
}

.right-header {
    margin-left: auto;
    display: flex;
    justify-content: center;
}

.inner-header .navigation-button-container {
    height: 100%;
    display: flex;
}

.inner-header .navigation-button-container .navigation-button-link:hover {
    text-decoration: none;
    background-color: cyan;
}

.inner-header .navigation-button-container .navigation-button-link {
    padding: 10px 20px;
}

.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-form {
    padding: 0 30px;
    margin-right: 10px;
}
