@import "colors";

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    @include flexCenter;
    width: 100%;
    height: 50px;
    position: relative;
    background-color: $header;

    .inner-header {
        width: 60vw;
        height: 100%;
        background-color: $header;
        position: absolute;
    }

    .right-header {
        @include flexCenter;
        margin-left: auto;

        .search {
            @include flexCenter;
            align-items: center;

            .search-form {
                padding: 0 30px;
                margin-right: 10px;
            }
        }
    }

    .navigation-button-container {
        height: 100%;
        display: flex;

        .navigation-button-link {
            padding: 10px 20px;
            color: $header-button-text;

            &:hover {
                text-decoration: none;
                background-color: $header-button-hover;
            }

            &:active {
                background-color: $header-button-active;
            }
        }
    }
}
