@import "colors";

body {
    margin: 0;
    padding: 0;
    background-color: $body;
    color: white;
}

a {
    color: $link;

    &:hover {
        text-decoration: none;
        color: $link;
    }
}