@import "colors";

.sign-up-container {
    min-height: 100vh;

    .sign-up-card {
        min-width: 15vw;
        max-width: 100vw;
        background-color: $sign-up-card;
        box-shadow: 0 0 5px white;

        .sign-up-header {
            color: #ecd7ff;
        }

        .sign-up-button {
            @include button-colors
        }
    }
}
