
.userVideoGamesTableContainer .userVideoGamesTableRowBody {
    height: 100px;
}

.userVideoGamesTableContainer .userVideoGamesTableRowBody .userVideoGamesTableData {
    text-align: center;
    vertical-align: middle;
}

.userVideoGamesTableContainer .userVideoGamesTableRowBody .userVideoGamesTableData .userVideoGamesTableInput{
    width: 60px;
}

.userVideoGamesTableContainer .userVideoGamesTableRowBody .userVideoGamesTableData .userVideoGamesTableSelect{
    width: 160px;
}

.userVideoGamesTableContainer .userVideoGamesTableDataHeader {
    text-align: center;
    vertical-align: middle;
}

.userVideoGamesTableContainer .userVideoGamesTableImageContainer {
    height: 70px;
}

.userVideoGamesTableContainer .userVideoGameTableImage {
    width: 70px;
    height: 70px;
    object-fit: cover;
}