
.user-games-table-container .user-games-table-row-body {
    height: 100px;
}

.user-games-table-container .user-games-table-row-body .user-games-table-data {
    text-align: center;
    vertical-align: middle;
}

.user-games-table-container .user-games-table-row-body .user-games-table-data .user-games-table-input{
    width: 60px;
}

.user-games-table-container .user-games-table-row-body .user-games-table-data .user-games-table-select{
    width: 160px;
}

.user-games-table-container .user-games-table-data-header {
    text-align: center;
    vertical-align: middle;
}

.user-games-table-container .user-games-table-header-name {
    display: inline-block;
}

.user-games-table-container .user-games-table-image-container {
    height: 70px;
}

.user-games-table-container .user-game-table-image {
    width: 70px;
    height: 70px;
    object-fit: cover;
}